<button type="button" class="btn btn-primary" (click)="startTestCall()">StartCall</button>

<p>CLICK ME above!!</p>

<div *ngIf="componentresult && componentresult.length > 0;"><p>Redux Works!</p>
    <table style="width:100%" class="tableCarMakes">
        <tr>
          <th>Make_ID</th>
          <th>Make_Name</th>
        </tr>

        <tr *ngFor="let model of componentresult; index as i;">
            <td>{{model.Make_ID}}</td>
            <td>{{model.Make_Name}}</td>
        </tr>
    </table>
</div>

<p *ngIf="proccessing">Results are being retrieved...</p>